body {
    background-color: gray;
    text-align: center;
    background-image: url("http://kieranking7559.github.io/unit-3/images/design-studio-hero.jpg") no-repeat fixed center;
    background-size: 1200px;
    font-family: 'Roboto', sans-serif;
  	color: #333;
}

h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 48px;
}

h1, h2, h3, h4, h5, h6 {
    color: 333;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

p {
	color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    text-align: center;
    list-style-type: none;
}

hr { 
    display: block;
    width: 100px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
/*comments in css are different from comments in html*/