* {margin:0; padding:0; box-sizing:border-box;}
img {width:200px;display:block;margin:auto;}/* temp styling - delete later */
body {
    background-color: gray;
    text-align: center;
<<<<<<< HEAD
    background-image: url("http://kieranking7559.github.io/unit-3/images/design-studio-hero.jpg");
=======
>>>>>>> origin/master
    font-family: 'Roboto', sans-serif;
    color: #333;
}
section {
    padding:5em 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}
h1 {
    color: white;
    font-size: 48px;
}
p {
	color: white;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
}

ul {
    text-align: center;
    list-style-type: none;
}

hr { 
    display: block;
    width: 100px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
/*comments in css are different from comments in html*/
#hero {
    background: url("http://kieranking7559.github.io/unit-3/images/design-studio-hero.jpg") no-repeat fixed center;
    background-size: cover;
    padding: 10em 0 0;
    height: 90vh;
}
